<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <h1 class="text-center mt-5"><u>Counter</u></h1>
    <h4 class="text-center">You have visited {{counter}} times</h4>
    <div class="text-center">
        <button onclick="location.href='/by_two'" type="button" class="btn btn-primary m-5" name="increment_button">Increment By 2</button>
        <button onclick="location.href='/destroy_session'" type="button" class="btn btn-danger m-5" name="reset_button">Reset</button>
    </div>
    <div class="text-center mt-5">
        <h3 class="mb-3">Increment by how much?</h3>
        <form action='/value' method='POST'>
            <label for='value'>Increment Value:</label>
            <input type='number' name='value'>
            <input type='submit' value='Increment!'>
        </form>
    </div>
    <h5 class="ms-5 font-weight-light">You have visited {{times_visited}} times!</h5>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>